/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'IRAN-Kharazmi';
  src: url('/assets/fonts/IRAN-Kharazmi.eot');
  src: url('/assets/fonts/IRAN-Kharazmi.woff') format('woff');
}

body {
  font-family: 'IRAN-Kharazmi';
}
